/*
CSS Name: Story Maker
Author: Anndriu U.
Description: Using HTML, CSS, and JavaScript, emulate the user experience of the popular children’s toy, the Mattel® ‘See ‘N’ Say Storymaker’. 
Version: 1.0
Image attribution: Anndriu U.
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #cebc5a;
}

.grid-container {
    width: 95%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header header header header header"
        "card-1 card-2 card-3 card-4 card-5"
        "surprise surprise surprise surprise surprise"
        "footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
}

.item {
    padding: 10px;
}

/* ----------
   CSS Header 
   ---------- */
.item[style*="grid-area: header"] {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item[style*="grid-area: header"] .logo {
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.6em;
    color: rgb(0, 0, 0);
}

/* -----------
   CSS Button 
   ----------- */
.item[style*="grid-area: surprise"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#button-card-1 {
    background-color: #7b35b2;
}

#button-card-1:hover {
    background-color: #56247b;
}

#button-card-2 {
    background-color: #029fe6;
}

#button-card-2:hover {
    background-color: #027cb4;
}

#button-card-3 {
    background-color: #6aae4b;
}

#button-card-3:hover {
    background-color: #487433;
}

#button-card-4 {
    background-color: #c87c4a;
}

#button-card-4:hover {
    background-color: #81502f;
}

#button-card-5 {
    background-color: #d855c7;
}

#button-card-5:hover {
    background-color: #953a89;
}

#button-surprise {
    background-color: #4c89af;
}

#button-surprise:hover {
    background-color: #315f7c;
}

/* --------
   CSS IMG 
   -------- */
   img {
    height: 200px;
    width: 200px;
    padding: 1vw;
}

/* ------------
    CSS Footer
   ------------ */ 
   .item[style*="grid-area: footer"] {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 10px;
}
