/*
CSS Name: Story Maker
Author: Anndriu U.
Description: Using HTML, CSS, and JavaScript, emulate the user experience of the popular children’s toy, the Mattel® ‘See ‘N’ Say Storymaker’. 
Version: 1.0
Image attribution: Anndriu U.
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #cebc5a;
}

.grid-container {
    width: 95%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header header header"
        "surprise card-1 card-2"
        "card-3 card-4 card-5"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 3fr 3fr 0.6fr;
}

.item {
    padding: 10px;
}

/* ----------
   CSS Header 
   ---------- */
.item[style*="grid-area: header"] {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item[style*="grid-area: header"] .logo {
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
}

/* --------
   CSS Img
   -------- */
.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 400px;
    height: auto;
    max-width: 100%;
    padding: 1vw;
}

/* ---------
   CSS Cards
   --------- */
.item[style*="grid-area: card-1"] {
    background-color: #7b35b2;
    font-size: 1.6rem;
}

.item[style*="grid-area: card-2"] {
    background-color: #029fe6;
    font-size: 1.6rem;
}

.item[style*="grid-area: card-3"] {
    background-color: #6aae4b;
    font-size: 1.6rem;
}

.item[style*="grid-area: card-4"] {
    background-color: #c87c4a;
    font-size: 1.6rem;
}

.item[style*="grid-area: card-5"] {
    background-color: #d855c7;
    font-size: 1.6rem;
}

.item[style*="grid-area: surprise"] {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}


/* -----------
   CSS Button 
   ----------- */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.item[style*="grid-area: card-1"] button {
    background-color: #7b35b2;
}

.item[style*="grid-area: card-2"] button {
    background-color: #029fe6;
}

.item[style*="grid-area: card-3"] button {
    background-color: #6aae4b;
}

.item[style*="grid-area: card-4"] button {
    background-color: #c87c4a;
}

.item[style*="grid-area: card-5"] button {
    background-color: #d855c7;
}

.item[style*="grid-area: surprise"] button {
    background-color: #6aae4b;
    width: 160px;
}

.item[style*="grid-area: surprise"] #button-reset {
    background-color: #7b35b2;
}

.item[style*="grid-area: card-1"] button:hover {
    background-color: #56247b;
}

.item[style*="grid-area: card-2"] button:hover {
    background-color: #027cb4;
}

.item[style*="grid-area: card-3"] button:hover {
    background-color: #487433;
}

.item[style*="grid-area: card-4"] button:hover {
    background-color: #81502f;
}

.item[style*="grid-area: card-5"] button:hover {
    background-color: #953a89;
}

.item[style*="grid-area: surprise"] button:hover {
    background-color: #426d2e;
}

.item[style*="grid-area: surprise"] #button-reset:hover {
    background-color: #56247b;
}

/* ------------
    CSS Footer
   ------------ */ 
.item[style*="grid-area: footer"] {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header header header header"
            "card-1 card-2 card-3 card-4 card-5"
            "surprise surprise surprise surprise surprise"
            "footer footer footer footer footer";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.2fr 0.6fr 0.6fr 0.2fr;
    }
}